<img src="https://images.unsplash.com/photo-1551131618-3f0a5cf594b4?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="w-screen h-screen object-cover -z-20 brightness-75 fixed">
<app-navbar></app-navbar>
<div class="py-5 px-10 w-full h-full justify-center align-middle">
    <router-outlet></router-outlet>
</div>
<app-pop-up-message></app-pop-up-message>
<app-pop-up-confirmation></app-pop-up-confirmation>
<!-- <app-login-form></app-login-form> -->
<!-- <app-register-form></app-register-form> -->